<% return unless game.playing %>

<div class="buttons">
<% if current_player.czar? %>
  <button onclick="selectMeme()">Select Meme</button>
<% else %>
  <button onclick="playHand()">Play Hand</button>
<% end %>
