<div class="buttons">
  <% if current_player.czar? %>
    <button id="selectMeme" onclick="selectMeme()">Select Meme</button>
  <% else %>
    <button id="playHand" onclick="playHand()" disabled>Play Hand</button>
  <% end %>
</div>
