<% return unless game.playing %>

<%= tag.div(class: hand_classes(current_player)) do %>
  <div class="hand">
    <div class="hand-resize">
      <% current_player.active_sources.each do |source| %>
        <div class="hand-img">
          <%= image_tag(source.path, height: "80px", data: {source_id: source.id}) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
