<% return unless game.playing %>

<%= tag.div(class: hand_classes(current_player)) do %>

  <%= button_tag("Play Hand", onclick: "playHand()", disabled: display_meme?(current_player)) %>

  <div class="hand">
    <div class="hand-resize">
      <% current_player.sources.each do |source| %>
        <%= image_tag(source.path, height: "80px", data: {sourceid: source.id}) %>
      <% end %>
    </div>
  </div>
<% end %>
