<% return unless game.playing %>
<% if display_memes?(current_player) %>
  <%= tag.div(class: memes_classes(current_player)) do %>
    <% if game.active_players.all?(&:ready?) %>
      <%= render game.round.memes_shuffled %>
    <% else %>
      <div class="waiting">Waiting for other players...</div>
    <% end %>
  <% end %>
<% else %>
  <%= render game.round.template %>
<% end %>
