<% return unless game.playing %>
<% if display_memes?(current_player) %>
  <% if game.active_players.all?(&:ready?) %>
    <%= render game.round.memes.shuffle %>
  <% else %>
    <div class="waiting">Waiting for other players...</div>
  <% end %>
<% else %>
  <%= render game.round.template %>
<% end %>
