<div class="scoreboard">
  <span>Players</span>
  <table>
    <% game.players.each do |player| %>
      <tr>
        <td><span class="<%= player_classes(player) %>"><%= player.name %></td>
        <td><%= player.score %></td>
      </tr>
    <% end %>
  </table>
</div>
