<div id="sidebar">
  <div id="scoreboard">
    Players
    <table>
      <% @game.players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.score %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="messages">

  </div>
</div>
