<div id="game">
  <div class="main">
    <%= render "options", game: @game %>
  </div>

  <div class="sidebar">
    <%= render "scoreboard", game: @game %>
  </div>

  <div class="bottom">
    <%= render "hand", game: @game %>
  </div>
</div>
