.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 320px;
  bottom: 270px;
  padding: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 270px;
  width: 300px;
  padding: 10px;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  padding: 10px;
}

.scoreboard span::after {
  position: absolute;
  transform: translateX(5px) translateY(2px);
  font-size: 14px;
}

.scoreboard span.czar::after {
  content: "[CZAR]";
}

.scoreboard .playing::after {
  content: "[PLAYING]";
}

.scoreboard span.winner::after {
  content: "Winner!";
}

.scoreboard td:nth-child(1) {
  width: 200px;
}

.waiting {
  padding-top: 15vh;
  text-align: center;
  width: 800px;
}

.hand {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  padding-bottom: 60px;
}

.noclick .hand {
  filter:         grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.czar-hand::after {
  position: absolute;
  inset: 0;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  content: "You are the Czar. When everyone is ready, select the best meme.";
  padding-top: 7.5%;
}

.hand img {
  border-radius: 2px;
  margin: 1px;
  cursor: pointer;
}

.hand-img {
  position: relative;
  display: inline-block;
  transition: 0.2s;
}

.hand-img:hover {
  transform: translateY(-12%);
  transform-origin: bottom;
}

.hand-resize {
  position: relative;
  white-space: nowrap;
  display: table;
  margin: auto;
  transform-origin: bottom;
}

.source1::before, .source2::before, .source3::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 2px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  width: 1em;
  text-align: center;
}

.source1::before {
  content: "1";
}

.source2::before {
  content: "2";
}

.source3::before {
  content: "3";
}
