.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 320px;
  bottom: 270px;
  padding: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 270px;
  width: 300px;
  padding: 10px;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  padding: 10px;
}

.scoreboard span::after {
  position: absolute;
  transform: translateX(5px) translateY(2px);
  font-size: 14px;
}

.scoreboard span.czar::after {
  content: "[CZAR]";
}

.scoreboard .playing::after {
  content: "[PLAYING]";
}

.scoreboard span.winner::after {
  content: "Winner!";
}

.scoreboard td:nth-child(1) {
  width: 200px;
}

.hand {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  padding-bottom: 60px;
}

.noclick .hand {
  filter:         grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.czar-hand::after {
  position: absolute;
  inset: 0;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  content: "You are the Czar. When everyone is ready, select the best meme.";
  padding-top: 7.5%;
}

.hand img {
  margin: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.hand img:hover {
  transform: translateY(-12%);
  transform-origin: bottom;
}

.hand-resize {
  white-space: nowrap;
  display: table;
  margin: auto;
  transform-origin: bottom;
}

.selected {
  box-shadow: 0px 5px 10px 1px #111;
}
