body {
  font-family: sans-serif;
  text-overflow: ellipsis;
  font-size: 20px;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.noclick {
  pointer-events: none;
}
