body {
  font-family: sans-serif;
  text-overflow: ellipsis;
  font-size: 20px;
  color: var(--text);
  background: var(--bg1);
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button, input[type="submit"] {
  font-size: 18px;
  color: var(--text);
  background-color: var(--select);
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}

button:hover, input[type="submit"]:hover {
  filter: brightness(120%);
}

button:disabled {
  filter: brightness(50%) grayscale(50%);
}

input {
  color: var(--text);
  border: 2px solid var(--border);
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  font-size: 15px;
  background: var(--input-bg);
  transition: 0.2s;
}

input:focus {
  border-color: var(--select);
}

input::placeholder {
  color: var(--input-text);
}

.noclick {
  pointer-events: none;
}

.octicon {
  width: 15px;
  height: 15px;
  filter: invert(1);
}

.click-icon:hover {
  filter: invert(0.5);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--input-bg);
  border: 5px solid var(--bg2);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
