.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 39px;
  border-bottom: 1px solid var(--border);
  background-color: var(--bg3);
}

.head .title {
  padding: 10px;
}

.head input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 4px;
  background-color: var(--danger);
}
