.main {
  position: fixed;
  top: 40px;
  left: 0;
  right: 320px;
  bottom: 270px;
  padding: 10px;
}

.waiting {
  padding-top: 15vh;
  text-align: center;
  width: 800px;
}

#main {
  position: relative;
  transform-origin: top left;
  display: table;
  padding-bottom: 20px;
}

.meme {
  display: inline-block;
  position: relative;
}

.base, .overlay {
  inset: 0;
  border-radius: 10px;
}

.base .selected {
  box-shadow: 0 0 0 6px black;
}

.overlay {
  position: absolute;
}

.placeholder {
  position: absolute;
}

.placeholder .checker {
  position: absolute;
  height: 100%;
  width: 100%;
}

.placeholder .number {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.source {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: white;
}
