.main {
  position: fixed;
  top: 40px;
  left: 0;
  right: 320px;
  bottom: 270px;
  padding: 10px;
}

.waiting {
  padding-top: 15vh;
  text-align: center;
  width: 800px;
}

#main {
  position: relative;
  transform-origin: top left;
  display: table;
  padding-bottom: 8px;
}

#options {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  margin-top: 20px;
  line-height: 30px;
}

#options label {
  float: left;
}

#options input {
  float: right;
}

#options input[type="submit"] {
  float: none;
}

#options input[type="checkbox"] {
  width: 28px;
  height: 28px;
  margin-left: 20px;
  appearance: none;
  color: var(--input-bg);
  border: 2px solid var(--border);
}

#options input[type="checkbox"]:checked {
  -webkit-appearance: revert;
}

.meme {
  display: inline-block;
  position: relative;
  filter: brightness(80%) grayscale(20%);
  transition: 0.2s;
  margin: 3px;
}

.meme.selected, .meme.winner {
  filter: none;
}

.base, .overlay {
  inset: 0;
  border-radius: 3px;
}

.selected .base, .winner .base {
  box-shadow: 0 0 0 2px var(--select);
}

.overlay {
  position: absolute;
}

.placeholder {
  position: absolute;
}

.placeholder .checker {
  position: absolute;
  height: 100%;
  width: 100%;
}

.placeholder .number {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.source {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: white;
}

@media only screen and (orientation: portrait) {
  .main {
    position: fixed;
    left: 0;
    right: 0;
  }

  .main {
    overflow-y: auto;
  }
}