.sidebar {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 270px;
  width: 300px;
  padding: 10px;
  border-left: 1px solid var(--border);
  padding: 0;
  background: var(--bg2);
}

.scoreboard {
  padding: 10px;
  border-bottom: 1px solid var(--border);
  text-align: center;
  line-height: 25px;
}

.scoreboard table {
  text-align: left;
}

.scoreboard td:nth-child(1)::after {
  position: absolute;
  right: 50px;
  font-size: 14px;
}

.scoreboard .czar td:nth-child(1)::after {
  content: "[CZAR]";
}

.scoreboard .playing td:nth-child(1)::after {
  content: "[PLAYING]";
}

.scoreboard .winner td:nth-child(1)::after {
  content: "[WINNER]";
}

.scoreboard td:nth-child(1) {
  width: 280px;
}

.scoreboard td:nth-child(2) {
  width: 20px;
}

#messages {
  position: relative;
  height: 100%;
  bottom: 0;
}

.messages {
  display: block;
  padding: 4px;
  overflow-y: auto;
  height: calc(100% - 85px);
}

.message {
  margin: 5px;
  margin-bottom: 0;
  font-size: 16px;
}

.message .author {
  font-weight: bold;
}

.message .author::after {
  content: ":";
}

#chatbox {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 24px);
  margin: 4px;
  padding: 6px;
}

.buttons {
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 4px;
  width: calc(100% - 8px);
  border-top: 1px solid var(--border);
}

.buttons button {
  height: 100%;
  width: 100%;
}
