.base, .overlay {
  position: absolute;
  inset: 0;
}

.placeholder {
  position: absolute;
}

.placeholder .checker {
  position: absolute;
  height: 100%;
  width: 100%;
}

.placeholder .number {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
